In [1]:
import tabula.io as tab
import pandas as pd
# 'ObesityAnalysis.pdf'

In [2]:
# Halaman tabel-tabel pada PDF
pages_patient = "1-160"
pages_diabetes = "161-320"
pages_risks = "321-480"
pages_age = "481-640"

In [3]:
# Memproses data pasien (1 - 160)
dfs = tab.read_pdf('ObesityAnalysis.pdf', pages = pages_patient, stream = True, guess = False, columns = (100, 149, 280, 350, 422, 480), pandas_options = {'header' : None})
tb_patient = pd.DataFrame([]);
for df in dfs:
    tb_patient = pd.concat([tb_patient, df], ignore_index = True)
tb_patient = tb_patient.iloc[1:]
tb_patient.columns = ["PatientId", "Zone", "State", "District", "Age", "Gender", "Waist"]
tb_patient

     PatientId Zone           State       District Age  Gender Waist
1            0    W       Rajasthan          Ajmer  35  Female    70
2            1    E          Orissa       Balasore  38  Female    81
3            4    W       Rajasthan          Ajmer  42  Female   102
4            7    E          Orissa       Balasore  37  Female    76
5            8    E          Orissa       Balasore  47    Male    87
...        ...  ...             ...            ...  ..     ...   ...
7492     17867   NE         Manipur    Imphal West  42  Female    94
7493     17868   NE         Manipur    Imphal West  42    Male    89
7494     17869   NE         Manipur    Imphal West  54    Male    92
7495     17871    S  Andhra Pradesh  Visakhapatnam  39    Male    82
7496     17872   NE         Manipur    Imphal West  48  Female    91

[7496 rows x 7 columns]

In [4]:
# Memproses data sejarah diabetes (161 - 320)
dfs = tab.read_pdf('ObesityAnalysis.pdf', pages = pages_diabetes, stream = True, guess = False, columns = (95, 150, 240, 290, 350, 400, 450, 500, 600), pandas_options = {'header' : None})
tb_diabetes = pd.DataFrame([]);
for df in dfs:
    tb_diabetes = pd.concat([tb_diabetes, df], ignore_index = True)
tb_diabetes = tb_diabetes.iloc[1:]
tb_diabetes.columns = ["Height", "Weight", "DiabetesSelfDelc", "Diafather", "Diamother", "Moderate", "Vigorous", "Dailyphysical", "Hba1c"]
tb_diabetes

,Height,Weight,DiabetesSelfDelc,Diafather,Diamother,Moderate,Vigorous,Dailyphysical,Hba1c
1,157,47,Normal,0,0,0,0,3,4.9
2,145,65,Normal,1,0,0,3,1,5.3
3,159,68,Normal,1,1,0,0,2,5
4,142,44,Normal,1,0,2,3,2,5.4
5,160,60,Normal,1,0,2,3,3,12.6
...,...,...,...,...,...,...,...,...,...
7492,149,58,Diabetic,0,1,0,0,1,14.8
7493,167,67,Diabetic,1,0,0,2,6,13.6
7494,156,66,Diabetic,1,1,3,1,2,7.0
7495,150,79,Diabetic,1,1,0,0,4,7.2
7496,147,57,Diabetic,0,0,2,1,2,6.9

In [5]:
# Memproses data resiko diabetes (321 - 480)
dfs = tab.read_pdf('ObesityAnalysis.pdf', pages = pages_risks, stream = True, guess = False, columns = (110, 160, 250, 320, 370, 420, 470, 520), pandas_options = {'header' : None})
tb_risk = pd.DataFrame([]);
for df in dfs:
    tb_risk = pd.concat([tb_risk, df], ignore_index = True)
tb_risk = tb_risk.iloc[1:]
tb_risk.columns = ["DiabetesCalc", "Diabetes", "ClinicalNotes", "Bmi", "WcRiskScore", "BmiRiskScore", "BmiWcRiskScore", "IdrsWaist"]
tb_risk

,DiabetesCalc,Diabetes,ClinicalNotes,Bmi,WcRiskScore,BmiRiskScore,BmiWcRiskScore,IdrsWaist
1,Normal,Normal,AlwaysNormal,19.06771,2,2,1,0
2,Normal,Normal,AlwaysNormal,30.91558,3,4,4,10
3,Normal,Normal,AlwaysNormal,26.89767,5,3,3,20
4,Normal,Normal,AlwaysNormal,21.82107,2,2,1,0
5,Diabetic,Diabetic,NewDia,23.4375,2,3,2,0
...,...,...,...,...,...,...,...,...
7492,Diabetic,Diabetic,KnownDiaDia,26.12495,4,3,3,20
7493,Diabetic,Diabetic,KnownDiaDia,24.02381,2,3,2,0
7494,Diabetic,Diabetic,KnownDiaDia,27.12032,3,3,3,10
7495,Diabetic,Diabetic,KnownDiaDia,35.11111,2,5,4,0
7496,Diabetic,Diabetic,KnownDiaDia,26.3779,4,3,3,20

In [6]:
# Memproses data umur (481-640)
dfs = tab.read_pdf('ObesityAnalysis.pdf', pages = pages_age, stream = True, guess = False, columns = (100, 155, 200, 255, 310, 360, 440), pandas_options = {'header' : None})
tb_age = pd.DataFrame([]);
for df in dfs:
    tb_age = pd.concat([tb_age, df], ignore_index = True)
tb_age = tb_age.iloc[1:]
tb_age.columns = ["IdrsAge", "IdrsFamilyHistory", "IdrsBmi", "IdrsBmiWc", "IdrsPhysicalActivity", "Idrs", "IdrsWithBmi", "IdrsWithBmiWc"]
tb_age

,IdrsAge,IdrsFamilyHistory,IdrsBmi,IdrsBmiWc,IdrsPhysicalActivity,Idrs,IdrsWithBmi,IdrsWithBmiWc
1,20,0,0,0,30,50,50,50
2,20,10,20,30,30,70,80,90
3,20,20,10,20,30,90,80,90
4,20,10,0,0,30,60,60,60
5,20,10,10,10,30,60,70,70
...,...,...,...,...,...,...,...,...
7484,20,10,10,20,30,80,70,80
7485,20,10,10,10,20,50,60,60
7486,30,20,10,20,30,90,90,100
7487,20,20,20,20,30,70,90,90
7488,20,0,10,20,30,70,60,70